

.ChatBox {height: 300px; overflow: auto; border: 1px solid #ddddddd}
.ChatBlock {border: 1px solid #dddddd; background: #f2f2f2; padding: 10px; color: #000000; margin: 10px}
.ChatBlock span {color: #828282; font-size: 10px; display: block}
